<div class="container">
    <form [formGroup]="routingForm" class="form">
        <div class="form" formGroupName="WWEfeatures">
            <!-- <mat-form-field class="full-width"> -->
            <!-- <mat-label>Features</mat-label> -->
            <!-- <mat-select formControlName="selectedRequestType" multiple [(ngModel)]="selectedRequestType">
                    <mat-option *ngFor="let class of featureValuesKey"  >{{class}}
                    </mat-option>
                </mat-select> -->

            <!-- <div *ngFor="let class of featureValuesKey"> -->

            <!-- <input type="checkbox" formControlName="selectedRequestType" [(ngModel)]="valCheck" value="1"> first -->

            <!-- <input type="checkbox" formControlName="selectedRequestType" [(ngModel)]="valCheck" value="12"> 2nd -->

            <!-- <mat-checkbox class="example-margin" [(ngModel)]="selectedRequestType"  [value]="class"> <label>{{class}} </label>
                </mat-checkbox> -->
            <!-- </div> -->

            <!-- </mat-form-field> -->

            <div *ngFor="let interest of multipleCheckBox; let i = index">
                <mat-checkbox (change)="onChange($event)" [value]="interest">{{interest}} </mat-checkbox>
            </div>

            <mat-autocomplete #auto="matAutocomplete">
                <mat-option *ngFor="let class of wweFeatures" [value]="class.value">{{class.label}}</mat-option>
            </mat-autocomplete>
        </div>
        <!-- check for Case Information (Iteration) -->
        <div *ngFor="let selectedRequest of selectedRequestType">
            <!-- <fieldset> -->
                <!-- <legend>{{selectedRequest}}</legend> -->
              
                <!-- <button type="button" (click)="addNewRow()" mat-button mat-raised-button color="info">Add</button><br> -->

            <!-- </fieldset> -->
        </div>

        <!-- [disabled]="!routingForm.valid" -->
        {{"here"}}
        <button type="button" mat-button mat-raised-button color="primary" (click)="wweFeatureClick(routingForm)" class="submitform">Submit</button>
    </form>
</div>