<div class="grid-container">
  <div class="header">
    <mat-toolbar color="orange" class="navbar app-toolbar">
      <span class="fill-remaining-space">User Story Template</span>
    </mat-toolbar>
  </div>
  <div style="padding-top: 5%">
    <div class="container" fxLayout="row" fxLayout.xs="column" fxLayoutGap="2%" fxLayoutAlign="left"
      style="height: calc(100vh - -39vw);">
      <form [formGroup]="routingForm" class="form" (ngSubmit)="submitForm($event)">


        <div class="grid-left-side" id="slider1">
          <div>
            <!-- <fieldset>
            <legend>User Story Details</legend> -->
            <div formGroupName="request">
              <div class="l-item1">
                <mat-label>Business Unit</mat-label>
                <mat-form-field class="full-width" appearance="outline">
                  <mat-select formControlName="bizUnit" [(ngModel)]="bizUnit" panelClass="my-select-panel-class">
                    <mat-option *ngFor="let bizUnit of bizUnits" [value]="bizUnit">{{bizUnit}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>

              <div class="l-item2">
                <mat-label>Business Segment or LOB</mat-label>
                <mat-form-field class="full-width" appearance="outline">
                  <mat-select formControlName="bizSegment">
                    <mat-option *ngFor="let bizSegment of bizSegments" [value]="bizSegment">
                      {{bizSegment}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>

              <div class="l-item3">
                <mat-label>Delivery Date</mat-label>
                <mat-form-field class="full-width" (click)="myDatepicker.open()" appearance="outline" color="#E87722">
                  <input matInput [matDatepicker]="myDatepicker" formControlName="ENT_DeliveryDate" readonly="true">
                  <mat-datepicker-toggle matSuffix [for]="myDatepicker"></mat-datepicker-toggle>
                  <mat-datepicker #myDatepicker class="date"></mat-datepicker>
                </mat-form-field>
              </div>

              <div class="l-item4">
                <mat-label>Scrum Team</mat-label>
                <mat-form-field class="full-width" appearance="outline">
                  <mat-select formControlName="selectedTeam" class="try">
                    <mat-option *ngFor="let class of scrumteam" [value]="class.value">
                      {{class.label}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>

              <div class="l-item5 form-group">
                <mat-label class="email_label">Created By</mat-label>
                <mat-form-field class="full-width email_box" appearance="outline">
                  <input class="form-control" matInput placeholder="Example@Optum.com" formControlName="createdBy"
                    type="email">
                </mat-form-field>

                <div *ngIf="routingForm.get('request').value.createdBy.errors" class="invalid-feedback">
                  <div *ngIf="routingForm.get('request').value.createdBy.errors.required">Email is required</div>
                  <div *ngIf="routingForm.get('request').value.createdBy.errors.email">Email must be a valid email
                    address</div>
                </div>
              </div>

              <div class="l-item6">
                <mat-label>Request Category</mat-label>
                <mat-form-field class="full-width" appearance="outline">
                  <mat-select formControlName="selectedValue" (selectionChange)="openDialog($event)"
                    (click)="openDialog($event)">
                    <mat-option *ngFor="let class of requestCategory" [value]="class.value">
                      {{class.label}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>

              <div class="l-item6" *ngIf="requestCategorySelecte === '3'">
                <div *ngFor="let interest of multipleCheckBox; let i = index">
                  <mat-checkbox (change)="onChangeForVal($event)" [value]="interest">{{interest}} </mat-checkbox>
                </div>
              </div>
            </div>
            <!-- </fieldset> -->
          </div>
        </div>

        <div class="grid-right-side" id="slider2">
          <div>
            <div class="vl"></div>
            <div>
              <!-- Routing Details Scenario Start -->
              <fieldset *ngIf="routingForm.get('request').value.selectedValue ==1" class=field>
                <legend>Voice Routing Requirements</legend>
                <div class="form" formGroupName="routingDetails">
                  <mat-form-field class="full-width">
                    <mat-label>Request Type</mat-label>
                    <mat-select formControlName="selectedRequestType">
                      <mat-option *ngFor="let class of requestType" [value]="class.value">{{class.label}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                  <div class="existing-routing-section"
                    *ngIf="routingForm.get('routingDetails').value.selectedRequestType ==1">
                    <mat-form-field class="full-width">
                      <mat-label>Short Description</mat-label>
                      <input matInput placeholder="Provide short description of the change"
                        formControlName="shortDescription">
                    </mat-form-field>
                    <mat-form-field class="full-width">
                      <mat-label>Exisiting CallType</mat-label>
                      <input matInput placeholder="Provide existing call type or callflow name"
                        formControlName="callType">
                    </mat-form-field>
                    <mat-form-field class="full-width">
                      <mat-label>Exisiting Skill Name</mat-label>
                      <input matInput placeholder="Provide existing skills in comma separated format"
                        formControlName="skills">
                    </mat-form-field>
                    <button type="submit" mat-button mat-raised-button color="#E87722"
                      [disabled]="routingForm.invalid">Save</button>
                  </div>
                </div>
              </fieldset>
              <!-- Routing Details Scenario End -->
            </div>

            <div>
              <fieldset *ngIf="routingForm.get('request').value.selectedValue ==2" class=field>
                <legend>Pre Queue Scenario</legend>
                <div class="form" formGroupName="preQueueDetails"
                  *ngIf="routingForm.get('routingDetails').value.selectedValue ==3">
                  <mat-checkbox value="isCustomPreQueueMsg" (change)="OnChange($event)" color="#E87722">
                    Custom Pre Queue Greeting Required ?
                  </mat-checkbox>
                  <mat-form-field class="full-width" *ngIf="showCustomPreQueueMsg">
                    <mat-label>Pre Queue Message</mat-label>
                    <input matInput placeholder="Pre Queue Message" formControlName="customPreQueueMsg">
                  </mat-form-field>
                  <mat-checkbox value="isEmergencyMsg" (change)="OnChange($event)" color="primary">
                    Emergency Message Required ?
                  </mat-checkbox>
                  <mat-form-field class="full-width" *ngIf="showEmergencyMsg">
                    <mat-label>Emergency Message</mat-label>
                    <input matInput placeholder="Emergency Message" formControlName="emergencyMsg">
                  </mat-form-field>
                  <mat-checkbox value="isNoAgentMsg" (change)="OnChange($event)" color="primary">
                    No Staffed Agent Message Required ?
                  </mat-checkbox>
                  <mat-form-field class="full-width" *ngIf="showNoAgentMsg">
                    <mat-label>No Staffed Message</mat-label>
                    <input matInput placeholder="No Agent Message" formControlName="NoAgentMsg">
                  </mat-form-field>
                  <mat-checkbox value="isBadWeatherMsg" (change)="OnChange($event)" color="primary">
                    Bad Weather Condition Message Required ?
                  </mat-checkbox>
                  <mat-form-field class="full-width" *ngIf="showBadWeatherMsg">
                    <mat-label>Bad Weather Message</mat-label>
                    <input matInput placeholder="Bad Weather Message" formControlName="badWeatherMsg">
                  </mat-form-field>
                </div>
              </fieldset>
            </div>

            <div>

              <div class="form" formGroupName="WWEfeatures">
                <mat-label>User Story Title</mat-label>
                <mat-form-field class="full-width" appearance="outline">
                  <input matInput placeholder="User Story Title" formControlName="userStoryTitle">
                </mat-form-field>

                <mat-label>Problem Statement</mat-label>
                <mat-form-field class="full-width" appearance="outline">
                  <input matInput placeholder="Problem Statement" formControlName="ENT_Prblm_Statement">
                </mat-form-field>

                <mat-label>Additional Information</mat-label>
                <mat-form-field class="full-width" appearance="outline">
                  <textarea matInput placeholder="Additional Information"
                    formControlName="ENT_Additional_Information"></textarea>
                </mat-form-field>

                <table class="example-full-width" cellspacing="0" width="100%">
                  <tr *ngFor="let data of displayNameDynamic">
                    <td>
                      <fieldset>
                        <legend>{{data ? data :'Display Name'}}</legend>

                        <div class="half_check" *ngFor="let displayValue of featureValuesKeyDrop(data); let i =index">
                          <span *ngIf="i%2 == 0">
                            <mat-checkbox (change)="testVal($event)" [value]="displayValue">{{displayValue}}
                            </mat-checkbox>
                          </span>
                          <span *ngIf="i%2 != 0">
                            <mat-checkbox (change)="testVal($event)" [value]="displayValue">{{displayValue}}
                            </mat-checkbox>
                          </span>

                        </div>

                        <div class="others">
                          <mat-checkbox class="others_label" (change)="testVal($event)" [value]="'Others'">{{"Others"}}
                          </mat-checkbox>
                        </div>
                        <div *ngIf="selectedOtherData ==  'Others'">

                          <input matInput class="half-width" placeholder="OtherData" formControlName="OtherData">

                          <input type="button" (click)="otherEnteredData()" class="btn btn-primary" value="Add">
                          <input type="button" (click)="otherEnteredData()" class="btn btn-danger delete"
                            value="Delete">
                        </div>

                      </fieldset>

                      &nbsp;&nbsp;&nbsp;&nbsp;
                    </td>

                    <td>
                      <span>
                        <a class="infolink" href="#" matTooltip="Info about the action"></a>
                      </span>
                    </td>
                  </tr>
                  <fieldset>
                    <legend>Short Discription</legend>
                    <tr>
                      <td>
                        <span matPrefix>As a &nbsp;</span>
                      </td>
                      <td width="91%">
                        <mat-form-field class="example-full-width">
                          <input matInput formControlName="shortDesc1">
                        </mat-form-field>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <span matPrefix>I need &nbsp;</span>
                      </td>
                      <td>
                        <mat-form-field class="example-full-width">
                          <input matInput formControlName="shortDesc2">
                        </mat-form-field>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <span matPrefix>so that &nbsp;</span>
                      </td>
                      <td>
                        <mat-form-field class="example-full-width">
                          <input matInput formControlName="shortDesc3">
                        </mat-form-field>
                      </td>
                    </tr>
                  </fieldset>
                </table>


                <!-- accept=".txt" -->
                <br>

                <div class="attach_a_file">
                  <span (click)="fileUpload.click()" class="attachfile">
                    <div *ngFor="let fileValues of fileData; let isLast = last;">
                      {{fileValues.name}}{{isLast?'':','}}
                    </div>
                    {{fileData ?'':'Attach a file'}}
                  </span>
                  <input type="file" class=" file_upload" #fileUpload type='file' (change)="onSelectFile($event)"
                    multiple style="visibility: hidden;" />
                  <br>
                  <div class=" drop-zone"></div>
                </div>
              </div>

              <div class="existing-routing-section">
                <fieldset>
                  <legend>Acceptance Criteria</legend>
                  <div formArrayName="itemRows">
                    <div *ngFor="let itemrow of routingForm.controls.itemRows.controls; let i=index; let lastVal = last"
                      [formGroupName]="i">
                      <div class="form-group">
                        <mat-label>Scenerio</mat-label>
                        <mat-form-field class="full-width" appearance="outline">
                          <input matInput placeholder="Scenerio" formControlName="scenerio">
                        </mat-form-field>

                        <div *ngIf="show">
                          <mat-label>Given</mat-label>
                          <mat-form-field class="full-width" appearance="outline">
                            <input matInput placeholder="Given" formControlName="given">
                          </mat-form-field>

                          <mat-label>When</mat-label>
                          <mat-form-field class="full-width" appearance="outline">
                            <input matInput placeholder="When" formControlName="when">
                          </mat-form-field>

                          <mat-label>Then</mat-label>
                          <mat-form-field class="full-width" appearance="outline">
                            <input matInput placeholder="Then" formControlName="then">
                          </mat-form-field>
                        </div>

                        <div
                          *ngIf="(indexNumber == i || (routingForm.controls.itemRows.controls.length-1 )==i) && !show">
                          <mat-label>Given</mat-label>
                          <mat-form-field class="full-width" appearance="outline">
                            <input matInput placeholder="Given" formControlName="given">
                          </mat-form-field>

                          <mat-label>When</mat-label>
                          <mat-form-field class="full-width" appearance="outline">
                            <input matInput placeholder="When" formControlName="when">
                          </mat-form-field>

                          <mat-label style="margin: 2px">Then</mat-label>
                          <mat-form-field class="full-width" appearance="outline">
                            <input matInput placeholder="then" formControlName="then">
                          </mat-form-field>
                        </div>

                        <div *ngIf='i < (routingForm.controls.itemRows.controls.length-1)'>
                          <button *ngIf="routingForm.controls.itemRows.controls.length > 1" (click)="deleteRow(i)"
                            mat-button mat-raised-button color="primary">Delete</button>
                          &nbsp; &nbsp; &nbsp;&nbsp;
                          <button *ngIf="routingForm.controls.itemRows.controls.length > 1" (click)="editRow(i)"
                            mat-button mat-raised-button color="primary">{{show ? 'Done':'Edit'}}</button>
                          <div>&nbsp;</div>
                        </div>
                      </div>

                      <!-- [disabled]="!routingForm.controls.itemRows.valid" -->
                      <button class="btn btn-info" *ngIf="lastVal" type="button" (click)="addNewRow(i+1)"
                        [disabled]="!routingForm.controls.itemRows.valid" mat-button mat-raised-button
                        color="primary">Add</button><br>
                    </div>
                  </div>
                </fieldset>
              </div>

              <div
                *ngIf="selectedValues && selectedValues.length>0 && routingForm.get('request').value.selectedValue ==3">

                <app-wwe-feature [deliverDate]="routingForm.get('request').value.ENT_DeliveryDate"
                  [scrumTeam]="routingForm.get('request').value.selectedTeam"
                  [bizUnitVal]="routingForm.get('request').value.bizUnit" [selectedRequestType]="selectedValues"
                  (wweJson)="wweJsonValClick()">
                </app-wwe-feature>
              </div>

              <button mat-stroked-button mat-flat-button style="margin-left: 40%;margin-top: 2%;margin-bottom: 2%;"
                [disabled]="!(routingForm.get('WWEfeatures').valid && routingForm.get('itemRows').valid)"
                (click)="wweFeatureClick(routingForm)">Submit</button>

            </div>

          </div>
        </div>
      </form>
    </div>
  </div>
</div>