.mat-form-field{
  width:98%;
}
.main_div{
  height: calc(100vh - -39vw);
}
.app-toolbar {
  margin-left: -1%;
  background: #E87722;
  position: fixed;
  position: -webkit-sticky; /* For macOS/iOS Safari */
  top: 0; /* Sets the sticky toolbar to be on top */
  z-index: 1000; /* Ensure that your app's content doesn't overlap the toolbar */
  box-shadow: 8px 8px 6px grey;
}


mat-label {
font: 400 14px Roboto, "Helvetica Neue", sans-serif;
}

legend {
  font: 400 14px Roboto, "Helvetica Neue", sans-serif;
  }

  .font {
    font: 400 14px Roboto, "Helvetica Neue", sans-serif;
  }

  .prefix{
 width: 120%;
  }
  .btn-success {
    color: #fff;
    background-color: #4dbd74;
    border-color: #4dbd74;
}
.submit{
  margin-left: 48%;margin-top: 2%;margin-bottom: 2%;
}
.show_submit{
  height: calc(100vh - -30vw);
}
.mat-icon-no-color{
  position: relative;
  top: 6px;
  font-size: 20px!important;
}
.add{
  font-size: 12px!important;
  font-weight: bold;
}
  
  

/* .grid-container {
  display: grid;
  grid-template-columns: auto auto;
  padding: 10px;
}
.grid-right-side{
border: 1px solid rgba(0, 0, 0, 0.8);
padding: 10px;
font-size: 30px;
text-align: left;
}
grid-left-side{
border: 1px solid rgba(0, 0, 0, 0.8);
padding: 10px;
font-size: 30px;
text-align: left;
}
*/
/* 
div#slider1 { 
    
  overflow-y: scroll;
}
div#slider2 { 
    
  overflow-y: scroll;
}
*/

/* .vl {
  border-left: 3px solid #f1f1f1;
height: 100%;
position: absolute;
left: 40%;
margin-left: -3px;
top: 0;
} */
.grid-left-side{
  width:50%;
  float: left;
  overflow-y: auto!important;
  height: calc(100% - 51%);
  max-height: 48%;
}
.grid-right-side{
  width: 48%;
  float: left;
  border-left: 3px solid #e5e5e5;
  padding-left: 20px;
  overflow-y: auto;
    max-height: 48%; }
.form {
  width: 100%;

}
.half_check{
float: left;
width:45%;
border-spacing: 0px;
height: 35px;
}
.half-width {
width: 35%;
border-bottom: solid 1px #E87722;
margin-right: 10px;;
}
.btn{
display: inline-block;
font-weight: 400;
text-align: center;
white-space: nowrap;
vertical-align: middle;
-webkit-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
border: 1px solid transparent;
padding: .375rem .75rem;
font-size: 1rem;
line-height: 1.5;
border-radius: .25rem;
transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.btn-primary{
color: #fff;
background-color: #17a2b8;
border-color: #17a2b8;
}
.btn-danger{
color: #fff;
background-color: red;
border-color:red;
}
.delete{
margin-left:15px;
}
.attach_a_file{border:1px solid #d9d9d9;padding: 2% 2% 2% 2%;margin-bottom: 2%; border-radius: 7px;width:95%;
}
html, body {
overflow-y: hidden!important;
}
fieldset{
border-color:rgba(0, 0, 0, 0.12); border-radius: 7px;
}
.others{
width: 35%;
}
.others_label{
  position: relative;
  top: 6px;
}
.others_div {
  width: 100%;
  display: inline-block;
  margin-top: 4px;
}
/* .mat-option {
width: 50%;
float: left;
} */

::ng-deep .mat-focused .mat-form-field-label {
  /*change color of label*/
  color: #E87722 !important;
 }
 
 ::ng-deep.mat-form-field-underline {
  /*change color of underline*/
  background-color: #E87722 !important;
 } 
 
 ::ng-deep.mat-form-field-ripple {
  /*change color of underline when focused*/
  background-color:  #E87722 !important;;
 }
 
 ::ng-deep .mat-form-field-label {
  /*change color of label*/
  color:  #E87722 !important;
 }

 
 
 
 mat-datepicker-toggle {
  color: #E87722 !important;
 }


 ::ng-deep .mat-select-arrow {
  width: 2px !important;
  height: 0 !important;
  border-left: 5px solid transparent !important;
  border-right: 5px solid transparent !important;
  border-top: 5px solid !important;
  margin: 0 4px !important;
  color: #E87722;
}


navbar{
  box-shadow: gray;
}
 /* ::ng-deep .mat-select-arrow {
  border-left: 15px solid transparent !important;
  border-right: none !important;
  border-top: 15px solid transparent !important;
  border-image-source: url('my img url') !important;
  border-image-repeat: stretch !important;
} */

